body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    width: 95%;
    font-size: 17px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #005ec4;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
